table {
  margin: 1em;
  border: none;
  border-collapse: collapse;
}
table th,
table td {
  padding: 0.25em 0.5em;
  text-align: right;
}
table td {
  font-variant-numeric: tabular-nums;
}
tbody tr:nth-child(odd) {
  background: rgba(0, 0, 0, 0.03);
}
